@use "./styles/_globals.scss" as *;

////////////////////////////////////
////////////////hero////////////////
////////////////////////////////////


.hero {
    width: 100vw;
    height: 100vh;
    background-image: url(/images/main-images/meal.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    @extend .mb-md;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .2;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        font-family: $fNoto;
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-70%);

        &__p {
            font-weight: bold;
            @extend .font-md;
            color: white;

            @include mq(lg) {
                margin-left: 5px
            }

        }

        &__h1 {
            @extend .font-xxl;
            color: white;

        }

        &__bar {
            display: block;
            width: 80vw;
            height: 1px;
            background-color: white;

            @include mq(lg) {
                margin: 5px 0;
            }

            @include mq(xl) {
                width: 65vw;
            }
        }

        &__subtitle {
            color: white;
            @extend .font-md;

            @include mq(lg) {
                margin-left: 5px;
            }

        }
    }

    &__link {
        position: absolute;
        left: 5%;
        bottom: 5%;

        @include mq(lg) {
            bottom: 10%;
            display: flex;
            gap: 100px;
        }

        &__a {
            display: block;
            position: relative;
            padding-left: 10px;

            &:nth-child(1) {
                @extend .mb-sm;
            }

            &__enTitle {
                @extend .font-md;
                color: white;
                line-height: 1;
                font-family: $fNoto;
                font-weight: bold;
                display: block;
            }

            &__jaTitle {
                @extend .font-sm;
                font-family: $fNotoJP;
                color: white;

            }

            &__bar {
                width: 1px;
                height: 110%;
                background-color: white;
                position: absolute;
                top: -5%;
                left: 0;
            }
        }
    }

    &__nav {
        display: none;
        width: 20vw;
        height: 100vh;
        position: relative;
        top: 0;
        left: 83vw;


        &::before {
            content: "";
            width: 1px;
            height: 90%;
            background-color: white;
            position: absolute;
            left: 0;
        }

        @include mq(xl) {
            display: flex;
            align-items: center;
        }

        &__ul {
            padding-left: 30px;


            &__li {
                @extend .mb-sm;

                & a {
                    color: white;
                    @extend .font-md;
                }

                & span {
                    color: white;
                    display: block;
                    @extend .font-sm;
                }
            }
        }
    }
}


////////////////////////////////////
///////////////about///////////////
////////////////////////////////////


.about {
    @extend .mb-lg;

    &__title {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: calc(50% - 50vw);
        @extend .mb-md;

        @include mq(lg) {
            height: 400px;
        }

        @include mq(xl) {
            height: 450px;
        }

        &__container {}

        &__image {
            height: 100%;
            width: 50vw;

            @include mq(lg) {
                width: 30vw;
            }

            @include mq(xl) {
                width: 20vw;
            }
        }
    }

    &__description {
        width: 70vw;
        @extend .mb-md;

        @include mq(md) {
            max-width: 500px
        }

        @include mq(xl) {
            width: 50vw;
            max-width: 600px
        }

        &__p {
            @extend .mb-sm;
        }
    }


    &__image {
        position: relative;
        height: 160px;

        @include mq(sm) {
            height: 200px;
        }

        @include mq(md) {
            height: 310px;
        }

        @include mq(xl) {
            height: 380px;
        }


        &__container {
            text-align: end;

            &__img1 {
                width: 20vw;
                height: 150px;
                position: absolute;
                top: 0;
                left: -6%;

                @include mq(md) {
                    max-width: 150px;
                    height: 230px;
                }

                @include mq(lg) {
                    max-width: 180px;
                    height: 280px;
                    left: -13%;
                }
            }

            &__img2 {
                width: 40vw;
                bottom: 100px;
                transform: translateY(50%);

                @include mq(md) {
                    max-width: 300px;
                }

                @include mq(xl) {
                    max-width: 350px;
                }
            }
        }
    }
}


////////////////////////////////////
///////////////future///////////////
////////////////////////////////////


.future {
    position: relative;
    @extend .mb-lg;

    &::before {
        content: "";
        width: 100vw;
        height: 110vh;
        background-color: $cGreen;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -99;
    }

    &__title {
        @extend .mb-md;
        padding-top: 200px;

        & h2,
        span {
            color: white;
        }

        & .content__title__bar {
            background-color: white;
        }

        &__container {}
    }

    &__description__wrapper {
        // pointer-events: none;s

    }

    &__description {
        width: 100vw;
        height: 100vh;
        margin: 0 calc(50% - 50vw);
        // padding: 0 5%;
        background-image: url("/images/main-images/healthy-body.jpg");
        background-size: cover;
        background-position: center;
        position: relative;

        @include mq(lg) {
            // padding: 0 10%;
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: .1;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        &__title {
            @extend .font-lg;
            @extend .mb-sm;
            color: white;
            padding-top: 100px;
            position: relative;
            z-index: 100;
            margin-left: 5%;

            @include mq(lg) {
                margin-left: 10%;
            }
        }

        &__text {
            @extend .mb-md;
            width: 80vw;
            max-width: 700px;
            color: white;
            position: relative;
            z-index: 100;
            margin-left: 5%;

            @include mq(lg) {
                margin-left: 10%;
            }
        }
    }

    & .pagelink {
        z-index: 100;
        margin-left: 5%;

        @include mq(lg) {
            margin-left: 10%;
        }

        &__name {
            color: white;
        }

        &__text {
            color: white;

        }

        &__bar {
            background-color: white;
        }

        &__arrow {

            &::before,
            &::after {
                background-color: white;
            }
        }

    }


}


////////////////////////////////////
///////////////service//////////////
////////////////////////////////////

.service {
    @extend .mb-lg;

    &__title {
        &__container {}
    }

    &__list {
        position: relative;

        &__item {
            width: 100%;
            height: 300px;

            @include mq(md) {
                height: 400px;
            }

            @include mq(lg) {
                height: 100px;

                &:nth-of-type(1):hover {
                    & .service__list__item__image {
                        & img {
                            transform: translateY(0%);
                        }

                        & p {
                            opacity: 1;
                            transform: translateX(0%);
                        }
                    }
                }

                &:nth-of-type(2):hover {
                    & .service__list__item__image {
                        & img {
                            transform: translateY(0%);
                        }

                        & p {
                            opacity: 1;
                            transform: translateX(0%);
                        }
                    }
                }

                &:nth-of-type(3):hover {
                    & .service__list__item__image {
                        & img {
                            transform: translateY(0%);
                        }

                        & p {
                            opacity: 1;
                            transform: translateX(0%);
                        }
                    }
                }

                &:nth-of-type(4):hover {
                    & .service__list__item__image {
                        & img {
                            transform: translateY(0%);
                        }

                        & p {
                            opacity: 1;
                            transform: translateX(0%);
                        }
                    }
                }
            }

            &__image {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

                @include mq(lg) {
                    position: absolute;
                    width: 40vw;
                    height: 400px;
                    top: 0;
                    right: 0;
                }

                & img {
                    width: 100%;
                    height: 200px;

                    @include mq(md) {
                        height: 300px;
                    }

                    @include mq(lg) {
                        height: 100%;
                        transform: translateY(100%);
                        transition: all .5s $ease;

                    }
                }

                & p {
                    font-family: $fNoto;
                    font-weight: bold;
                    @extend .font-lg;
                    mix-blend-mode: color-burn;
                    position: absolute;
                    top: 5%;
                    left: 5%;

                    @include mq(lg) {
                        left: 10%;
                        opacity: 0;
                        transform: translateX(100px);
                        transition: all .5s $ease;

                    }

                    & span {
                        @extend .font-lg;
                        font-family: $fNum;
                    }
                }

            }

            &__link {
                & span:nth-child(1) {
                    @extend .font-lg;
                    font-family: $fNoto;
                    font-weight: bold;
                }

                & span:nth-child(2) {
                    @extend .font-sm;
                    font-family: $fNotoJP;
                    margin-left: 20px;
                }

                & span:nth-child(3) {
                    display: block;
                    width: 280px;
                    height: 1px;
                    background-color: $cBlack;
                    transform: scaleX(5%);
                    transform-origin: left;
                    animation: service-link-out 1s $ease forwards;

                    @include mq(lg) {
                        width: 350px;
                    }

                    @include mq(xl) {
                        width: 500px;
                    }
                }
            }

            &:hover &__link {

                & span:nth-child(3) {
                    animation: service-link-hover 1s $ease forwards;
                }
            }
        }



    }

    & .circle {
        position: absolute;
        top: 20%;
        right: 5%;
        pointer-events: none;
        z-index: -99;

        &__wrapper {
            width: 500px;
            height: 500px;
            margin: auto;

            &__inner {
                overflow: visible;
                animation: rotation 60s linear infinite;

                &__path {
                    fill: none;
                }

                &__text {
                    fill: $cBlack;
                    font-size: 12px;
                    letter-spacing: 0.03em;
                    opacity: .3;
                }
            }
        }

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    @keyframes service-link-hover {
        0% {
            transform: scaleX(5%);
            transform-origin: left;
        }

        50% {
            transform: scaleX(100%);
            transform-origin: left;
        }

        51% {
            transform: scaleX(100%);
            transform-origin: right;
        }

        100% {
            transform: scaleX(5%);
            transform-origin: right;
        }
    }

    @keyframes service-link-out {
        0% {
            transform: scaleX(5%);
            transform-origin: right;
        }

        50% {
            transform: scaleX(100%);
            transform-origin: right;
        }

        51% {
            transform: scaleX(100%);
            transform-origin: left;
        }

        100% {
            transform: scaleX(5%);
            transform-origin: left;
        }
    }
}


////////////////////////////////////
///////////////works//////////////
////////////////////////////////////


.works {
    @extend .mb-lg;
    height: 700px;

    @include mq(lg) {
        height: 750px;
    }

    @include mq(xl) {
        height: 800px;
    }

    & .content__title {
        padding-top: 100px;

        & h2,
        span {
            color: white;
        }

        &__bar {
            background-color: white;
        }
    }

    &::before {
        content: "";
        width: 80vw;
        height: 700px;
        background-color: $cGreen;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -99;

        @include mq(lg) {
            height: 750px;
        }

        @include mq(xl) {
            height: 800px;
        }
    }

    &__swipe {
        &__text {
            @extend .font-lg;
            color: white;
        }

        &__bar {
            display: block;
            width: 120px;
            height: 1px;
            background-color: white;
            animation: swipe-animation 2s $ease infinite;
        }
    }

    & .swiper {
        @extend .mb-md;

        &-wrapper {
            transition-timing-function: linear;
        }

        &-slide {
            position: relative;


            &::before {
                content: "";
                width: 80vw;
                max-width: 400px;
                height: 100%;
                background-color: black;
                opacity: .1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                pointer-events: none;
            }

            & img {
                display: block;
                width: 80vw;
                max-width: 400px;
                height: 300px;
                position: relative;
            }

            & .text__container {
                position: absolute;
                bottom: 10%;
                left: 5%;
                z-index: 11;
            }

            & .works__service {
                display: block;
                color: white;

            }

            & .works__service__author {
                color: white;
            }
        }

        @keyframes swipe-animation {
            0% {
                transform: scaleX(0);
                transform-origin: right;
            }

            50% {
                transform: scaleX(100%);
                transform-origin: right;
            }

            51% {
                transform: scaleX(100%);
                transform-origin: left;
            }

            100% {
                transform: scaleX(0%);
                transform-origin: left;
            }
        }
    }
}

////////////////////////////////////
///////////////recruit//////////////
////////////////////////////////////


.recruit {
    @extend .mb-lg;

    &::before {
        content: "";
        width: 95vw;
        height: 80%;
        background-color: $cOrange;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -99;
    }

    &__image {
        width: 70vw;
        margin-left: calc(50% - 20vw);
        @extend .mb-md;

        @include mq(lg) {
            width: 50vw;
            margin-left: calc(100% - 40vw);
        }
    }

    &__title__container {}

    &__description {
        padding-bottom: 50px;

        @include mq(lg) {
            margin-left: 10%;
            padding-bottom: 100px
        }

        &__title {
            @extend .mb-sm;

            & h3 {
                @extend .font-lg;
            }
        }

        &__text {
            @extend .mb-md;
            width: 85vw;
            max-width: 600px;

            & p {}
        }
    }
}

////////////////////////////////////
//////////////infomation////////////
////////////////////////////////////

.info {
    @extend .mb-lg;

    &__container {
        @include mq(md) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include mq(lg) {
            flex-wrap: nowrap;
            gap: 20px
        }
    }

    &__inner {
        @extend .mb-md;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        @include mq(md) {
            width: 40vw;

            &:nth-of-type(3) {
                width: 100%;
            }
        }

        @include mq(lg) {
            width: 30vw;

            &:nth-of-type(3) {
                width: 30vw;
            }

        }

        &:nth-of-type(1):hover {
            & .info__item__text__ja {
                transform: translateY(100%);
            }

            & .info__item__text__bar {
                animation: info-hover 1s $ease forwards;
            }

            & .info__item__text__arrow::after {
                transform: rotate(0) translateY(3px);

                @include mq(md) {
                    transform: rotate(0) translateY(3.5px);
                }

                @include mq(lg) {
                    transform: rotate(0) translateY(6px);
                }

                @include mq(xl) {
                    transform: rotate(0) translateY(8px);
                }
            }

            & .info__item__text__click {
                transform: translateY(0);
            }
        }

        &:nth-of-type(2):hover {
            & .info__item__text__ja {
                transform: translateY(100%);
            }

            & .info__item__text__bar {
                animation: info-hover 1s $ease forwards;
            }

            & .info__item__text__arrow::after {
                transform: rotate(0) translateY(3px);

                @include mq(md) {
                    transform: rotate(0) translateY(3.5px);
                }

                @include mq(lg) {
                    transform: rotate(0) translateY(6px);
                }

                @include mq(xl) {
                    transform: rotate(0) translateY(8px);
                }
            }

            & .info__item__text__click {
                transform: translateY(0);
            }
        }

        &:nth-of-type(3):hover {
            & .info__item__text__ja {
                transform: translateY(100%);
            }

            & .info__item__text__bar {
                animation: info-hover 1s $ease forwards;
            }

            & .info__item__text__arrow::after {
                transform: rotate(0) translateY(3px);

                @include mq(md) {
                    transform: rotate(0) translateY(3.5px);
                }

                @include mq(lg) {
                    transform: rotate(0) translateY(6px);
                }

                @include mq(xl) {
                    transform: rotate(0) translateY(8px);
                }
            }

            & .info__item__text__click {
                transform: translateY(0);
            }
        }


    }

    &__item {
        position: relative;

        &__image {
            width: 100%;
            height: 200px;
            @extend .mb-sm;

            &__img {}
        }

        &__text {
            position: relative;
            width: 75vw;
            max-width: 220px;

            &__p {
                font-family: $fNoto;
                font-weight: bold;
                @extend .font-lg;
            }

            &__bar {
                display: block;
                width: 100%;
                height: 1px;
                background-color: $cBlack;
                transform: scaleX(5%);
                transform-origin: left;
                animation: info-out 1s $ease forwards;
            }

            &__arrow {
                display: block;
                width: 5px;
                height: 1px;
                position: absolute;
                top: 50%;
                right: 0;

                &::before,
                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: $cBlack;
                    position: absolute;
                    transition: all 1s .1s $ease;
                }

                &::before {
                    transform: rotate(40deg) translate(1.3px, .9px);

                    @include mq(lg) {
                        transform: rotate(40deg) translate(3.5px, 2.6px);
                    }

                    @include mq(xl) {
                        transform: rotate(40deg) translate(4.5px, 4.6px);
                    }
                }

                &::after {
                    transform: rotate(320deg) translate(-2.46px, 3.7px);

                    @include mq(lg) {
                        transform: rotate(320deg) translate(-3.66px, 5.8px);
                    }

                    @include mq(xl) {
                        transform: rotate(320deg) translate(-5.66px, 7.8px);
                    }
                }
            }

            &__ja {
                display: block;
                transition: all .5s $ease;
            }

            &__click {
                position: absolute;
                bottom: 0;
                right: 3%;
                transform: translateY(100%);
                transition: all .5s $ease;
            }
        }

    }

    @keyframes info-hover {
        0% {
            transform: scaleX(5%);
            transform-origin: left;
        }

        50% {
            transform: scaleX(100%);
            transform-origin: left;
        }

        51% {
            transform: scaleX(100%);
            transform-origin: right;
        }

        100% {
            transform: scaleX(5%);
            transform-origin: right;
        }
    }

    @keyframes info-out {
        0% {
            transform: scaleX(5%);
            transform-origin: right;
        }

        50% {
            transform: scaleX(100%);
            transform-origin: right;
        }

        51% {
            transform: scaleX(100%);
            transform-origin: left;
        }

        100% {
            transform: scaleX(5%);
            transform-origin: left;
        }
    }
}

////////////////////////////////////
///////////////contact//////////////
////////////////////////////////////


.contact {
    @extend .mb-lg;

    &__contents {
        &__p {
            @extend .font-md;
            font-family: $fNotoJP;
            @extend .mb-md;
        }
    }
}
