@use "./styles/_globals.scss" as *;

.header {

    &__logo {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 1%;
        left: 5%;
        z-index: 100;
    }

    &__icon {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 1%;
        right: 6%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        z-index: 100;


        &__bar {
            display: block;
            width: 50px;
            height: 1px;
            background-color: white;
        }

        &__bar:nth-child(1) {
            transform: translateY(50%);
        }

        &__bar:nth-child(2) {
            transform: translateY(3px);
        }
    }

    &__nav {
        opacity: 0;
        position: absolute;


        &__title {}

        &__ul {}

        &__ul__li {
            & a {}

            & span {}
        }
    }

}



////////////////////////////////////
////////////////hero////////////////
////////////////////////////////////


.hero {
    width: 100vw;
    height: 100vh;
    background-image: url(/images/main-images/meal.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    @extend .mb-md;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .2;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        font-family: $fNoto;
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-70%);

        &__p {
            font-weight: bold;
            @extend .font-md;
            color: white;

            @include mq(lg) {
                margin-left: 5px
            }

        }

        &__h1 {
            @extend .font-xxl;
            color: white;

        }

        &__bar {
            display: block;
            width: 80vw;
            height: 1px;
            background-color: white;

            @include mq(lg) {
                margin: 5px 0;
            }

            @include mq(xl) {
                width: 65vw;
            }
        }

        &__subtitle {
            color: white;
            @extend .font-md;

            @include mq(lg) {
                margin-left: 5px;
            }

        }
    }

    &__link {
        position: absolute;
        left: 5%;
        bottom: 5%;

        @include mq(lg) {
            bottom: 10%;
            display: flex;
            gap: 100px;
        }

        &__a {
            display: block;
            position: relative;
            padding-left: 10px;

            &:nth-child(1) {
                @extend .mb-sm;
            }

            &__enTitle {
                @extend .font-md;
                color: white;
                line-height: 1;
                font-family: $fNoto;
                font-weight: bold;
                display: block;
            }

            &__jaTitle {
                @extend .font-sm;
                font-family: $fNotoJP;
                color: white;

            }

            &__bar {
                width: 1px;
                height: 110%;
                background-color: white;
                position: absolute;
                top: -5%;
                left: 0;
            }
        }
    }

    &__nav {
        display: none;
        width: 20vw;
        height: 100vh;
        position: relative;
        top: 0;
        left: 83vw;


        &::before {
            content: "";
            width: 1px;
            height: 90%;
            background-color: white;
            position: absolute;
            left: 0;
        }

        @include mq(xl) {
            display: flex;
            align-items: center;
        }

        &__ul {
            padding-left: 30px;


            &__li {
                @extend .mb-sm;

                & a {
                    color: white;
                    @extend .font-md;
                }

                & span {
                    color: white;
                    display: block;
                    @extend .font-sm;
                }
            }
        }
    }
}


////////////////////////////////////
///////////////future///////////////
////////////////////////////////////


.about {
    &__title {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: calc(50% - 50vw);
        @extend .mb-md;

        &__container {
        }

        &__image {
            height: 100%;
        }
    }

    &__description {
        width: 70vw;
        &__p {}
    }


    &__image {
        &__container {
            &__img1 {
            }

            &__img2 {}
        }


    }


}