@use "./styles/_globals.scss" as *;

.header {

    &__logo {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 1%;
        left: 5%;
        z-index: 100;
    }

    &__icon {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 1%;
        right: 6%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        z-index: 100;


        &__bar {
            display: block;
            width: 50px;
            height: 1px;
            background-color: white;
        }

        &__bar:nth-child(1) {
            transform: translateY(50%);
        }

        &__bar:nth-child(2) {
            transform: translateY(3px);
        }
    }

    &__nav {
        opacity: 0;
        position: absolute;


        &__title {}

        &__ul {}

        &__ul__li {
            & a {}

            & span {}
        }
    }

}



////////////////////////////////////
////////////////hero////////////////
////////////////////////////////////


.hero {
    width: 100vw;
    height: 100vh;
    background-image: url(/images/main-images/meal.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    @extend .mb-md;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .2;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        font-family: $fNoto;
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-70%);

        &__p {
            font-weight: bold;
            @extend .font-md;
            color: white;

            @include mq(lg) {
                margin-left: 5px
            }

        }

        &__h1 {
            @extend .font-xxl;
            color: white;

        }

        &__bar {
            display: block;
            width: 80vw;
            height: 1px;
            background-color: white;

            @include mq(lg) {
                margin: 5px 0;
            }

            @include mq(xl) {
                width: 65vw;
            }
        }

        &__subtitle {
            color: white;
            @extend .font-md;

            @include mq(lg) {
                margin-left: 5px;
            }

        }
    }

    &__link {
        position: absolute;
        left: 5%;
        bottom: 5%;

        @include mq(lg) {
            bottom: 10%;
            display: flex;
            gap: 100px;
        }

        &__a {
            display: block;
            position: relative;
            padding-left: 10px;

            &:nth-child(1) {
                @extend .mb-sm;
            }

            &__enTitle {
                @extend .font-md;
                color: white;
                line-height: 1;
                font-family: $fNoto;
                font-weight: bold;
                display: block;
            }

            &__jaTitle {
                @extend .font-sm;
                font-family: $fNotoJP;
                color: white;

            }

            &__bar {
                width: 1px;
                height: 110%;
                background-color: white;
                position: absolute;
                top: -5%;
                left: 0;
            }
        }
    }

    &__nav {
        display: none;
        width: 20vw;
        height: 100vh;
        position: relative;
        top: 0;
        left: 83vw;


        &::before {
            content: "";
            width: 1px;
            height: 90%;
            background-color: white;
            position: absolute;
            left: 0;
        }

        @include mq(xl) {
            display: flex;
            align-items: center;
        }

        &__ul {
            padding-left: 30px;


            &__li {
                @extend .mb-sm;

                & a {
                    color: white;
                    @extend .font-md;
                }

                & span {
                    color: white;
                    display: block;
                    @extend .font-sm;
                }
            }
        }
    }
}


////////////////////////////////////
///////////////about///////////////
////////////////////////////////////


.about {
    @extend .mb-lg;

    &__title {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: calc(50% - 50vw);
        @extend .mb-md;

        @include mq(lg) {
            height: 400px;
        }

        @include mq(xl) {
            height: 450px;
        }

        &__container {}

        &__image {
            height: 100%;
            width: 50vw;

            @include mq(lg) {
                width: 30vw;
            }

            @include mq(xl) {
                width: 20vw;
            }
        }
    }

    &__description {
        width: 70vw;
        @extend .mb-md;

        @include mq(md) {
            max-width: 500px
        }

        @include mq(xl) {
            width: 50vw;
            max-width: 600px
        }

        &__p {
            @extend .mb-sm;
        }
    }


    &__image {
        position: relative;
        height: 160px;

        @include mq(sm) {
            height: 200px;
        }

        @include mq(md) {
            height: 310px;
        }

        @include mq(xl) {
            height: 380px;
        }


        &__container {
            text-align: end;

            &__img1 {
                width: 20vw;
                height: 150px;
                position: absolute;
                top: 0;
                left: -6%;

                @include mq(md) {
                    max-width: 150px;
                    height: 230px;
                }

                @include mq(lg) {
                    max-width: 180px;
                    height: 280px;
                    left: -13%;
                }
            }

            &__img2 {
                width: 40vw;
                bottom: 100px;
                transform: translateY(50%);

                @include mq(md) {
                    max-width: 300px;
                }

                @include mq(xl) {
                    max-width: 350px;
                }
            }
        }
    }
}


////////////////////////////////////
///////////////future///////////////
////////////////////////////////////


.future {
    position: relative;
    @extend .mb-lg;

    &::before {
        content: "";
        width: 100vw;
        height: 110vh;
        background-color: $cGreen;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -99;
    }

    &__title {
        @extend .mb-md;
        padding-top: 200px;

        & h2,
        span {
            color: white;
        }

        & .content__title__bar {
            background-color: white;
        }

        &__container {}
    }

    &__description__wrapper {
        // pointer-events: none;s

    }

    &__description {
        width: 100vw;
        height: 100vh;
        margin: 0 calc(50% - 50vw);
        // padding: 0 5%;
        background-image: url("/images/main-images/healthy-body.jpg");
        background-size: cover;
        background-position: center;
        position: relative;

        @include mq(lg) {
            // padding: 0 10%;
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: .1;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        &__title {
            @extend .font-lg;
            @extend .mb-sm;
            color: white;
            padding-top: 100px;
            position: relative;
            z-index: 100;
            margin-left: 5%;

            @include mq(lg) {
                margin-left: 10%;
            }
        }

        &__text {
            @extend .mb-md;
            width: 80vw;
            max-width: 700px;
            color: white;
            position: relative;
            z-index: 100;
            margin-left: 5%;

            @include mq(lg) {
                margin-left: 10%;
            }
        }
    }

    & .pagelink {
        z-index: 100;
        margin-left: 5%;

        @include mq(lg) {
            margin-left: 10%;
        }

        &__name {
            color: white;
        }

        &__text {
            color: white;

        }

        &__bar {
            background-color: white;
        }

        &__arrow {

            &::before,
            &::after {
                background-color: white;
            }
        }

    }


}


////////////////////////////////////
///////////////service//////////////
////////////////////////////////////

.service {
    @extend .mb-lg;
    &__title {
        &__container {}
    }

    &__list {
        position: relative;

        &__item {
            width: 100%;
            height: 300px;

            @include mq(md) {
                height: 400px;
            }

            @include mq(lg) {
                height: 100px;

                &:nth-of-type(1):hover {
                    & .service__list__item__image {
                        & img {
                            transform: translateY(0%);
                        }
                        & p {
                            opacity: 1;
                            transform: translateX(0%);
                        }
                    }
                }
                &:nth-of-type(2):hover {
                    & .service__list__item__image {
                        & img {
                            transform: translateY(0%);
                        }
                        & p {
                            opacity: 1;
                            transform: translateX(0%);
                        }
                    }
                }
                &:nth-of-type(3):hover {
                    & .service__list__item__image {
                        & img {
                            transform: translateY(0%);
                        }
                        & p {
                            opacity: 1;
                            transform: translateX(0%);
                        }
                    }
                }
                &:nth-of-type(4):hover {
                    & .service__list__item__image {
                        & img {
                            transform: translateY(0%);
                        }
                        & p {
                            opacity: 1;
                            transform: translateX(0%);
                        }
                    }
                }
            }

            &__image {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

                @include mq(lg) {
                    position: absolute;
                    width: 40vw;
                    height: 400px;
                    top: 0;
                    right: 0;
                }

                & img {
                    width: 100%;
                    height: 200px;

                    @include mq(md) {
                        height: 300px;
                    }

                    @include mq(lg) {
                        height: 100%;
                        transform: translateY(100%);
                        transition: all .5s $ease;

                    }
                }

                & p {
                    font-family: $fNoto;
                    font-weight: bold;
                    @extend .font-lg;
                    mix-blend-mode: color-burn;
                    position: absolute;
                    top: 5%;
                    left: 5%;

                    @include mq(lg){
                        left: 10%;
                        opacity: 0;
                        transform: translateX(100px);
                        transition: all .5s $ease;

                    }

                    & span {
                        @extend .font-lg;
                        font-family: $fNum;
                    }
                }

            }

            &__link {
                & span:nth-child(1) {
                    @extend .font-lg;
                    font-family: $fNoto;
                    font-weight: bold;
                }

                & span:nth-child(2) {
                    @extend .font-sm;
                    font-family: $fNotoJP;
                    margin-left: 20px;
                }

                & span:nth-child(3) {
                    display: block;
                    width: 280px;
                    height: 1px;
                    background-color: $cBlack;
                    transform: scaleX(5%);
                    transform-origin: left;
                    animation: service-link-out 1s $ease forwards;

                    @include mq(lg){
                        width: 350px;
                    }
                    @include mq(xl){
                        width: 500px;
                    }
                }
            }

            &:hover &__link {

                & span:nth-child(3) {
                    animation: service-link-hover 1s $ease forwards;
                }
            }
        }



    }

    & .circle {
        position: absolute;
        top: 20%;
        right: 5%;
        pointer-events: none;
        z-index: -99;

        &__wrapper {
            width: 500px;
            height: 500px;
            margin: auto;

            &__inner {
                overflow: visible;
                animation: rotation 60s linear infinite;

                &__path {
                    fill: none;
                }

                &__text {
                    fill: $cBlack;
                    font-size: 12px;
                    letter-spacing: 0.03em;
                    opacity: .3;
                }
            }
        }

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}


@keyframes service-link-hover {
    0% {
        transform: scaleX(5%);
        transform-origin: left;
    }

    50% {
        transform: scaleX(100%);
        transform-origin: left;
    }

    51% {
        transform: scaleX(100%);
        transform-origin: right;
    }

    100% {
        transform: scaleX(5%);
        transform-origin: right;
    }
}

@keyframes service-link-out {
    0% {
        transform: scaleX(5%);
        transform-origin: right;
    }

    50% {
        transform: scaleX(100%);
        transform-origin: right;
    }

    51% {
        transform: scaleX(100%);
        transform-origin: left;
    }

    100% {
        transform: scaleX(5%);
        transform-origin: left;
    }
}