@forward "./mq";
@use "./mq" as *;

/////////////////////////////////////
//　color
/////////////////////////////////////
$cBlack: #333333;
$cGreen: #839C96;
$cOrange: #E1B58B;
$cBcc: #F4F2E0;
$cBlue: #AACBD0;

/////////////////////////////////////
// font-size
/////////////////////////////////////


$fNoto: 'Noto Sans', sans-serif;
$fNotoJP: 'Noto Sans JP', sans-serif;
$fNum: 'Noto Nastaliq Urdu', serif;

.font-sm {
    font-size: 10px;

    @include mq(lg) {
        font-size: 12px;
    }
}

.font-md {
    font-size: 14px;
    line-height: 1.7;

    @include mq(md) {
        font-size: 15px;
    }

    @include mq(lg) {
        font-size: 16px;
    }
}

.font-lg {
    font-size: 18px;

    @include mq(md) {
        font-size: 20px;
    }

    @include mq(lg) {
        font-size: 24px;
    }

    @include mq(xl) {
        font-size: 26px;
    }
}

.font-xl {
    font-size: 30px;

    @include mq(md) {
        font-size: 36px;
    }

    @include mq(lg) {
        font-size: 42px;
    }

    @include mq(xl) {
        font-size: 60px;
    }
}

.font-xxl {
    font-size: 50px;
    line-height: 1.2;

    @include mq(sm) {
        font-size: 60px;
    }

    @include mq(md) {
        font-size: 70px;
        line-height: 1;
    }

    @include mq(lg) {
        font-size: 80px;
        line-height: 1;
    }

    @include mq(xl) {
        font-size: 90px;
        line-height: 1;
    }
}

.content__title {
    @extend .mb-md;

    &__en {
        font-family: $fNoto;
        @extend .font-xl;
        line-height: 1.2;
    }
    &__bar {
        display: block;
        width: 200px;
        height: 1px;
        background-color: $cBlack;
        transform: scaleX(7%);
        transform-origin: left;
    }

    &__ja {
        @extend .font-sm;
        font-family: $fNotoJP;
    }
}


/////////////////////////////////////
// margin bottom
/////////////////////////////////////
.mb-sm {
    margin-bottom: 20px;
}

.mb-md {
    margin-bottom: 50px;
}

.mb-lg {
    margin-bottom: 200px;
}

/////////////////////////////////////
// Base setting
/////////////////////////////////////

$ease: cubic-bezier(1,0,.01,1);

html {
    scroll-behavior: smooth;
}



* {
    @extend .font-md;
    line-height: 1.7;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $cBlack;
}

body {
    width: 100vw;

    &:after {
        z-index: -100;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(326deg, rgba(255, 245, 226, 1) 33%, rgba(255, 255, 255, 1) 76%, rgba(255, 255, 255, 1) 100%);
    }
}

.body__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 100vw;
    max-width: 1440px;
    padding: 0 5%;
    position: relative;

    @include mq(lg) {
        padding: 0 10%;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/////////////////////////////////////
// Button
/////////////////////////////////////

.pagelink {
    display: block;
    width: 150px;
    position: relative;
    clip-path: polygon(0 0, 110% 0, 110% 100%, 0 100%);

    &__name {
        @extend .font-lg;
        font-family: $fNoto;

        font-weight: bold;
    }

    &__bar {
        display: block;
        width: 100%;
        height: 1px;
        background-color: $cBlack;
        transform: scaleX(10%);
        transform-origin: left;
        animation: pagelink_bar_out 1s $ease forwards;
    }

    &__arrow {
        display: block;
        width: 5px;
        height: 1px;
        position: absolute;
        top: 56%;
        right: 0;
        transform: translateY(-50%);

        @include mq(sm){
            top: 56.5%;
        }
        @include mq(md){
            top: 57%;
        }
        @include mq(lg){
            top: 60%;
        }
        @include mq(xl){
            top: 62%;
        }

        &::before,&::after{
            content: "";
            width: 100%;
            height: 100%;
            background-color: $cBlack;
            position: absolute;
            top: 0;
            right: 0;
            transition: all .5s .5s $ease;
        }
        &::before{
            transform: rotate(320deg) translateX(2px) translateY(3.5px);
        }
        &::after{
            transform: rotate(40deg) translateX(2px) translateY(-3.5px);
        }
    }

    &__text {
        font-family: $fNoto;
        display: block;
        text-align: end;
        transform: translateY(100%);
        transition: all 1s .3s $ease;
    }

    &:hover{
        & .pagelink__bar{
            animation: pagelink_bar_hover 1s $ease forwards;
        }
        & .pagelink__arrow{
            &::before{
            transform: rotate(0deg) translateX(3px) translateY(.01px);
            }
        }
        & .pagelink__text{
            transform: translateY(0);
        }
    }
    @keyframes pagelink_bar_hover {
        0%{
            transform: scaleX(10%);
            transform-origin: left;
        }
        50%{
            transform: scaleX(100%);
            transform-origin: left;
        }
        51%{
            transform: scaleX(100%);
            transform-origin: right;
        }
        100%{
            transform: scaleX(10%);
            transform-origin: right;
        }
    }
    @keyframes pagelink_bar_out {
        0%{
            transform: scaleX(10%);
            transform-origin: right;
        }
        50%{
            transform: scaleX(100%);
            transform-origin: right;
        }
        51%{
            transform: scaleX(100%);
            transform-origin: left;
        }
        100%{
            transform: scaleX(10%);
            transform-origin: left;
        }
    }
}




.contact__button {
    width: 90vw;
    height: 130px;
    max-width: 550px;
    min-width: 330px;
    border-radius: 10px;
    background-color: $cBlue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    position: relative;
    margin: 0 auto 200px;

    &__a {}

    &__textinner {
        clip-path: polygon(-170px 0, 370px 0, 370px 100%, -170px 100%);

        &__ja {
            display: block;
            @extend .font-lg;
            font-family: $fNotoJP;
            font-weight: bold;
            color: white;
            line-height: 40px;
            position: relative;
            transition: all .5s $ease;

            &::before {
                content: "Contact";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -100%);
                transition: all .5s $ease;
            }

        }

        &__bar {
            display: block;
            width: 100%;
            max-width: 340px;
            height: 1px;
            background-color: white;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &__click {
            display: block;
            width: 100%;
            color: white;
            font-family: $fNoto;
            text-align: center;
            line-height: 50px;
            transition: all 1s $ease;
        }
    }

    &:hover {
        & .contact__button__textinner {
            &__ja {
                transform: translateY(-100%);

                &::before{
                    transform: translate(-50%, 100%);
                }
            }
        }
        & .contact__button__textinner__click {
            transform: translateX(50%);
        }
    }
}
