@forward "./mq";
@use "./mq" as *;

$ease: cubic-bezier(1, 0, .01, 1);

/////////////////////////////////////
//　color
/////////////////////////////////////
$cBlack: #333333;
$cGreen: #839C96;
$cOrange: #E1B58B;
$cBcc: #F4F2E0;
$cBlue: #AACBD0;

/////////////////////////////////////
// font-size
/////////////////////////////////////


$fNoto: 'Noto Sans', sans-serif;
$fNotoJP: 'Noto Sans JP', sans-serif;
$fNum: 'Noto Nastaliq Urdu', serif;

.font-sm {
    font-size: 10px;

    @include mq(lg) {
        font-size: 12px;
    }
}

.font-md {
    font-size: 14px;
    line-height: 1.7;

    @include mq(md) {
        font-size: 15px;
    }

    @include mq(lg) {
        font-size: 16px;
    }
}

.font-lg {
    font-size: 18px;

    @include mq(md) {
        font-size: 20px;
    }

    @include mq(lg) {
        font-size: 24px;
    }

    @include mq(xl) {
        font-size: 26px;
    }
}

.font-xl {
    font-size: 30px;

    @include mq(md) {
        font-size: 36px;
    }

    @include mq(lg) {
        font-size: 42px;
    }

    @include mq(xl) {
        font-size: 60px;
    }
}

.font-xxl {
    font-size: 50px;
    line-height: 1.2;

    @include mq(sm) {
        font-size: 60px;
    }

    @include mq(md) {
        font-size: 70px;
        line-height: 1;
    }

    @include mq(lg) {
        font-size: 80px;
        line-height: 1;
    }

    @include mq(xl) {
        font-size: 90px;
        line-height: 1;
    }
}

.content__title {
    @extend .mb-md;

    &__inner {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    &__en {
        font-family: $fNoto;
        @extend .font-xl;
        line-height: 1;
        transform: translateY(100%);
        transition: all 1s .2s $ease;
    }

    &__bar {
        display: block;
        width: 200px;
        height: 1px;
        background-color: $cBlack;
        transform: scaleX(0%) translateY(-300px);
        transform-origin: right;
        transition: all 1s $ease;
    }

    &__ja {
        display: block;
        @extend .font-sm;
        font-family: $fNotoJP;
        transform: translateX(50px);
        opacity: 0;
        transition: all 1s .6s $ease;
    }

    & .active {
        & .content__title__en {
            transform: translateY(0);
        }

        & .content__title__bar {
            transform: scaleX(7%);
            animation: titleActive 1s $ease forwards;
        }

        & .content__title__ja {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes titleActive {
        0% {
            transform: scaleX(5%);
            transform-origin: right;
        }

        50% {
            transform: scaleX(100%);
            transform-origin: right;
        }

        51% {
            transform: scaleX(100%);
            transform-origin: left;
        }

        100% {
            transform: scaleX(7%);
            transform-origin: left;
        }
    }
}


/////////////////////////////////////
// margin bottom
/////////////////////////////////////
.mb-sm {
    margin-bottom: 20px;
}

.mb-md {
    margin-bottom: 50px;
}

.mb-lg {
    margin-bottom: 200px;
}

/////////////////////////////////////
// Base setting
/////////////////////////////////////
html {
    scroll-behavior: smooth;
}



* {
    @extend .font-md;
    line-height: 1.7;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $cBlack;
}

body {
    width: 100vw;

    &:after {
        z-index: -100;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(326deg, rgba(255, 245, 226, 1) 33%, rgba(255, 255, 255, 1) 76%, rgba(255, 255, 255, 1) 100%);
    }
}

.body__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 100vw;
    max-width: 1440px;
    padding: 0 5%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @include mq(lg) {
        padding: 0 10%;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.section__headline {
    @extend .font-xl;
    font-family: $fNotoJP;
    font-weight: bold;
    padding-left: 5%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    @extend .mb-lg;
    clip-path: polygon(0 0, 0 0%, 0 100%, 0 100%);
    opacity: 0;
    transform: translateX(50px);

    @include mq(lg) {
        padding-left: 10%;
    }

    & h3 {
        max-width: 650px;
    }
}

/////////////////////////////////////
// Button
/////////////////////////////////////

.pagelink {
    display: block;
    width: 150px;
    position: relative;
    clip-path: polygon(0 0, 110% 0, 110% 100%, 0 100%);
    z-index: 100;

    &__name {
        @extend .font-md;
        font-family: $fNoto;
        font-weight: normal;
    }

    &__bar {
        display: block;
        width: 100%;
        height: 1px;
        background-color: $cBlack;
        transform: scaleX(10%);
        transform-origin: left;
        animation: pagelink_bar_out 1s $ease forwards;
    }

    &__arrow {
        display: block;
        width: 5px;
        height: 1px;
        position: absolute;
        top: 56%;
        right: 0;
        transform: translateY(-50%);

        @include mq(sm) {
            top: 56.5%;
        }

        @include mq(md) {
            top: 57%;
        }

        @include mq(lg) {
            top: 60%;
        }

        @include mq(xl) {
            top: 62%;
        }

        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: $cBlack;
            position: absolute;
            top: 0;
            right: 0;
            transition: all .5s .5s $ease;
        }

        &::before {
            transform: rotate(320deg) translateX(2px) translateY(3.5px);
        }

        &::after {
            transform: rotate(40deg) translateX(2px) translateY(-3.5px);
        }
    }

    &__text {
        font-family: $fNoto;
        display: block;
        text-align: end;
        transform: translateY(100%);
        transition: all 1s .3s $ease;
    }

    &:hover {
        & .pagelink__bar {
            animation: pagelink_bar_hover 1s $ease forwards;
        }

        & .pagelink__arrow {
            &::before {
                transform: rotate(0deg) translateX(3px) translateY(.01px);
            }
        }

        & .pagelink__text {
            transform: translateY(0);
        }
    }

    @keyframes pagelink_bar_hover {
        0% {
            transform: scaleX(10%);
            transform-origin: left;
        }

        50% {
            transform: scaleX(100%);
            transform-origin: left;
        }

        51% {
            transform: scaleX(100%);
            transform-origin: right;
        }

        100% {
            transform: scaleX(10%);
            transform-origin: right;
        }
    }

    @keyframes pagelink_bar_out {
        0% {
            transform: scaleX(10%);
            transform-origin: right;
        }

        50% {
            transform: scaleX(100%);
            transform-origin: right;
        }

        51% {
            transform: scaleX(100%);
            transform-origin: left;
        }

        100% {
            transform: scaleX(10%);
            transform-origin: left;
        }
    }
}




.contact__button {
    width: 90vw;
    height: 130px;
    max-width: 550px;
    min-width: 330px;
    border-radius: 10px;
    background-color: $cBlue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    position: relative;
    margin: 0 auto 200px;

    &__a {}

    &__textinner {
        clip-path: polygon(-170px 0, 370px 0, 370px 100%, -170px 100%);

        &__ja {
            display: block;
            @extend .font-lg;
            font-family: $fNotoJP;
            font-weight: bold;
            color: white;
            line-height: 40px;
            position: relative;
            transition: all .5s $ease;

            &::before {
                content: "Contact";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -100%);
                transition: all .5s $ease;
            }

        }

        &__bar {
            display: block;
            width: 100%;
            max-width: 340px;
            height: 1px;
            background-color: white;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &__click {
            display: block;
            width: 100%;
            color: white;
            font-family: $fNoto;
            text-align: center;
            line-height: 50px;
            transition: all 1s $ease;
        }
    }

    &:hover {
        & .contact__button__textinner {
            &__ja {
                transform: translateY(-100%);

                &::before {
                    transform: translate(-50%, 100%);
                }
            }
        }

        & .contact__button__textinner__click {
            transform: translateX(50%);
        }
    }
}


/////////////////////////////////////
// header
/////////////////////////////////////


.header {

    &__logo {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 1%;
        left: 5%;
        z-index: 100;
    }

    &__icon {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 1%;
        right: 6%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        z-index: 100;
        cursor: pointer;


        &__bar {
            display: block;
            width: 50px;
            height: 1px;
            background-color: $cBlack;
            mix-blend-mode: color;
            transition: all 1s $ease;

            &:nth-child(1) {
                transform: translateY(50%) rotate(180deg);
            }

            &:nth-child(2) {
                transform: translateY(3px) rotate(0deg);
            }
        }

        &.onClick {
            & .header__icon__bar {
                background-color: white;

                &:nth-child(1) {
                    transform: rotate(10deg);
                }

                &:nth-child(2) {
                    transform: rotate(350deg);
                }
            }
        }
    }

    &__nav {
        width: 80vw;
        height: 100vh;
        padding-left: 10%;
        background-color: $cOrange;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        z-index: 99;
        transition: all 1s $ease;

        @include mq(md) {
            width: 60vw;
        }

        @include mq(lg) {
            width: 50vw;
        }

        &__title {
            color: white;
            @extend .font-md;
            font-weight: bold;
            @extend .mb-md;
            position: relative;

            &:before {
                content: "";
                width: 90%;
                height: 1px;
                background-color: white;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        &__ul {}

        &__ul__li {
            @extend .mb-sm;

            & a {
                color: white;
                @extend .font-lg;
            }

            & span {
                display: block;
                color: white;
                @extend .font-sm;
            }
        }


        &.onClick {
            transform: translateX(0);
        }
    }

    &__bcc {
        width: 100vw;
        height: 100vh;
        background-color: $cBlack;
        opacity: .6;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 98;
        opacity: 0;
        pointer-events: none;
        transition: all 1s $ease;

        &.onClick {
            opacity: .5;
            pointer-events: all;
        }
    }
}

/////////////////////////////////////
// footer
/////////////////////////////////////


.footer__wrapper {
    background-color: $cGreen;
    position: relative;
}

.return {
    position: absolute;
    top: 5%;
    right: 5%;

    @include mq(lg) {
        right: 10%;
        top: auto;
        bottom: 55px;
    }

    &__wrapper {
        width: 100px;
        height: 100px;
        margin: auto;
        position: relative;

        &::before {
            content: "";
            width: 1px;
            height: 30px;
            background-color: $cBlack;
            opacity: .3;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 100;
        }

        &::after {
            content: "";
            width: 1px;
            height: 6px;
            background-color: $cBlack;
            opacity: .3;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(1px, -15px) rotate(-40deg);
            z-index: 100;
        }

        &__inner {
            overflow: visible;
            animation: rotation 60s linear infinite;

            &__path {
                fill: none;
            }

            &__text {
                fill: $cBlack;
                font-size: 12px;
                letter-spacing: 0.03em;
                opacity: .3;


            }
        }
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.footer {
    @extend .mb-md;
    padding: 0 5%;
    display: flex;
    flex-direction: column-reverse;

    @include mq(lg) {
        padding: 0 10%;
    }

    &__logo {
        display: inline-block;
        width: 180px;
        height: 33px;
        margin-top: 30px;
        margin-left: 5%;
        @extend .mb-sm;
        background-image: url(../images/main-images/logo-2.png);
        background-size: contain;
        background-repeat: no-repeat;

        @include mq(lg) {
            margin-left: 10%;
        }
    }

    & tr {
        height: 20px;
    }

    & th {
        color: white;
        @extend .font-md;
        font-weight: 400;
        padding-right: 30px;
        text-align: start;
        width: 100px;
    }

    & td {
        color: white;
        @extend .font-md;
    }


    &__nav {
        @extend .mb-sm;
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 1px;
            background-color: white;
            position: absolute;
            bottom: 0;
        }

        &__ul {
            @include mq(lg) {
                display: flex;
            }

            & li {
                font-weight: bold;
                flex: 1;

                &:last-child {
                    @extend .mb-sm;
                }

                & a {
                    color: white;
                    @extend .font-lg;
                }

                & span {
                    color: white;
                    @extend .font-sm;
                    font-weight: normal;
                    margin-left: 20px;

                    @include mq(lg) {
                        display: block;
                        margin-left: 0;
                        font-size: 10px;
                    }
                }
            }
        }
    }






    &::before {
        content: "";
        background-image: url(../images/main-images/noise.png);
        background-repeat: repeat;
        width: 300%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .5;
        z-index: -99;
        animation: noise 8s steps(10) infinite;


        @keyframes noise {
            to {
                background-position: 0 0;
            }

            10% {
                background-position: -5% -10%;
            }

            20% {
                background-position: -15% 5%;
            }

            30% {
                background-position: 7% -25%;
            }

            40% {
                background-position: 20% 25%;
            }

            50% {
                background-position: -25% 10%;
            }

            60% {
                background-position: 15% 5%;
            }

            70% {
                background-position: 0 15%;
            }

            80% {
                background-position: 25% 35%;
            }

            90% {
                background-position: -10% 10%;
            }
        }
    }
}

small {
    text-align: center;
    display: block;
    width: 350px;
    margin: 0 auto;
    color: white;
}