@use "./_globals.scss" as *;
@use "./_subglobals.scss" as *;


.form {
    @extend .mb-lg;

    &__title {
        @extend .font-lg;
        @extend .mb-md;
        text-align: center;
        position: relative;

        &::before {
            content: "";
            width: 80%;
            height: 1px;
            background-color: $cBlack;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__form {
        max-width: 650px;
        margin: 0 auto;

        & .form__hidden {
            animation: formAnimation .5 forwards;

            @keyframes formAnimation {
                0% {
                    opacity: 1;
                    transform: translateY(0);
                }

                100% {
                    opacity: 0;
                    display: none;
                    transform: translateY(-100%);
                }
            }
        }


        &__item {
            margin: 0 auto 20px;
            display: flex;
            flex-direction: column;

            & label {
                font-weight: bold;
                margin-bottom: 5px;

                & span {
                    content: "必須";
                    color: white;
                    padding: 2px 8px;
                    margin-left: 20px;
                    background-color: $cOrange;
                    border-radius: 5px;
                }
            }

            & input,
            & textarea {
                height: 35px;
                padding: 0 5%;
                border-style: none;
                border-radius: 5px;
            }

            & textarea {
                height: 150px;
                @extend .mb-md;

                &::placeholder {
                    font-weight: normal;
                }
            }
        }

        &__policy {

            & h3 {
                @extend .mb-sm;
                text-align: center;
            }

            & p {
                @extend .mb-sm;
                height: 300px;
                overflow: scroll;
                background-color: white;
                padding: 10% 5%;
                border-radius: 10px;
                border: 10px solid rgb(255, 255, 255);
            }
        }


        &__checkbox {
            text-align: center;
            @extend .mb-md;
        }
    }

    &__button {
        width: 40%;
        max-width: 150px;
        line-height: 1;
        background-color: transparent;
        border-style: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;

        &::before,
        &::after {
            content: "";
            width: 10px;
            height: 1px;
            background-color: $cBlack;
            position: absolute;
            top: 70%;
            right: 0;
        }

        &::after {
            transform: rotate(45deg) translate(-2px, -3px);
        }
    }

    & p {
        width: 100%;
        display: flex;
        justify-content: space-between;

        & .return__button,
        & .submit__button {
            background-color: transparent;
            border-style: none;
            flex: 1;
            position: relative;

        }

        & .return__button {

            &::before,
            &::after {
                content: "";
                width: 10px;
                height: 1px;
                background-color: $cBlack;
                position: absolute;
                top: 70%;
                left: 0;
            }

            &::after {
                transform: rotate(-45deg) translate(1.6px, -3.3px);
            }
        }

        & .submit__button {

            &::before,
            &::after {
                content: "";
                width: 10px;
                height: 1px;
                background-color: $cBlack;
                position: absolute;
                top: 70%;
                right: 0;
            }

            &::after {
                transform: rotate(45deg) translate(-2px, -3px);
            }
        }
    }
}

.success {

    &__title {
        display: inline-block;
        font-family: $fNotoJP;
        @extend .font-lg;
        @extend .mb-md;
        position: relative;

        &:before{
            content: "";
            width: 110%;
            height: 1px;
            background-color: $cBlack;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__p {
        font-family: $fNotoJP;
        @extend .mb-lg;
    }
}

.pagelink {
    @extend .mb-lg;
}