@use "./_globals.scss" as *;
@use "./_subglobals.scss" as *;




.contents {
    @extend .mb-lg;

    @include mq(lg) {
        display: flex;
        gap: 50px;
    }

    @include mq(xl) {
        gap: 150px;
    }

    &__inner {
        width: 100%;
        max-width: 500px;
    }

    &__enHeadline {
        width: 100%;
        @extend .mb-md;

        &__inner {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &__span {
            font-family: $fNoto;
            display: block;
        }

        &__num {
            font-family: $fNum;
            display: block;
        }

        &__bar {
            display: block;
            width: 100%;
            height: 1px;
            background-color: $cBlack;
        }
    }



    &__description {
        @extend .mb-md;

        &__jaHeadline {
            @extend .mb-md;

            & h3 {
                @extend .font-lg;
            }
        }

        & p {}
    }


    &__imgInner {
        height: 300px;
        position: relative;

        @include mq(lg) {
            width: 100%;
            height: 550px;
        }
    }


    &:nth-of-type(2) {

        & .contents__imgInner {
            margin: 0 calc(50% - 50vw);

            @include mq(lg) {
                margin: auto;
                margin-right: calc(50% - 50vw);
            }

            &__image1 {
                width: 30%;
                height: 180px;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;

                @include mq(sm) {
                    height: 220px;
                }

                @include mq(md) {
                    max-width: 200px;
                    height: 250px;
                }

                @include mq(lg) {
                    width: 40%;
                    height: 300px;
                    left: auto;
                    right: 0;
                }

                @include mq(xl) {
                    max-width: 300px;
                    height: 400px;
                }

                & img {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;

                    &:nth-child(1) {
                        animation: firstImgViewScale 30s infinite;
                        animation-delay: 0s;
                    }

                    &:nth-child(2) {
                        animation: imgViewScale 30s infinite;
                        animation-delay: 10s;
                    }

                    &:nth-child(3) {
                        animation: imgViewScale 30s infinite;
                        animation-delay: 20s;
                    }

                    @keyframes firstImgViewScale {
                        0% {
                            opacity: 1;
                            transform: scale(1);
                        }

                        30% {
                            opacity: 1;
                        }

                        36% {
                            opacity: 1;
                            transform: scale(1.15);
                        }

                        45% {
                            opacity: 0;
                        }

                        100% {
                            opacity: 0;
                        }
                    }

                    @keyframes imgViewScale {
                        0% {
                            opacity: 0;
                            transform: scale(1);
                        }

                        30% {
                            opacity: 1;
                        }

                        36% {
                            opacity: 1;
                            transform: scale(1.15);
                        }

                        45% {
                            opacity: 0;
                        }

                        100% {
                            opacity: 0;
                        }
                    }
                }
            }

            &__image2 {
                width: 45%;
                height: 120px;
                overflow: hidden;
                position: absolute;
                bottom: 0;
                right: 0;

                @include mq(sm) {
                    height: 150px;
                }

                @include mq(md) {
                    max-width: 350px;
                    height: 200px;
                }

                @include mq(lg) {
                    width: 70%;
                    max-width: 350px;
                    height: 200px;
                    left: 0;
                    right: auto;
                }

                @include mq(xl) {
                    max-width: 450px;
                    height: 280px;
                    left: 0;
                    right: auto;
                }

                & img {
                    opacity: 0;
                    position: absolute;

                    &:nth-child(1) {
                        animation: firstImgViewScale 30s infinite;
                        animation-delay: 0s;
                    }

                    &:nth-child(2) {
                        animation: imgViewScale 30s infinite;
                        animation-delay: 10s;
                    }

                    &:nth-child(3) {
                        animation: imgViewScale 30s infinite;
                        animation-delay: 20s;
                    }

                    @keyframes firstImgViewScale {
                        0% {
                            opacity: 1;
                            transform: scale(1);
                        }

                        30% {
                            opacity: 1;
                        }

                        36% {
                            opacity: 1;
                            transform: scale(1.15);
                        }

                        45% {
                            opacity: 0;
                        }

                        100% {
                            opacity: 0;
                        }
                    }

                    @keyframes imgViewScale {
                        0% {
                            opacity: 0;
                            transform: scale(1);
                        }

                        30% {
                            opacity: 1;
                        }

                        36% {
                            opacity: 1;
                            transform: scale(1.15);
                        }

                        45% {
                            opacity: 0;
                        }

                        100% {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    &:nth-of-type(3) {
        flex-direction: row-reverse;

        & .contents__imgInner {
            width: 70%;
            max-width: 350px;
            height: 100%;
            margin-left: calc(60% - 10vw);

            @include mq(lg){
                margin-left: auto;
            }
        }
    }
    &:nth-of-type(4) {

        & .contents__imgInner {
            width: 70%;
            max-width: 350px;
            height: 100%;
            margin-left: calc(60% - 10vw);

            @include mq(lg){
                margin-left: auto;
            }
        }
    }

}