@use "./_globals.scss" as *;
@use "./_subglobals.scss" as *;


.contents {
    @extend .mb-lg;

    &__header {
        display: flex;
        @extend .mb-md;

        &.active {
            & .contents__header__bar {
                transform: scaleX(100%);
            }

            & .contents__header__enName {
                transform: translateY(0%);
            }

            & .contents__header__jaName {
                transform: translateY(0%);
                opacity: 1;
            }

            & .contents__header__image {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }

        &__inner {
            flex: 1;
            position: relative;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

        &__bar {
            display: block;
            width: 93%;
            height: 1px;
            background-color: $cBlack;
            transform: scaleX(0);
            transform-origin: right;
            transition: all 1s $ease;
        }

        &__enName {
            @extend .font-lg;
            font-family: $fNoto;
            transform: translateY(-100%);
            transition: all 1s .6s $ease;
        }

        &__jaName {
            @extend .font-sm;
            font-family: $fNotoJP;
            font-weight: bold;
            padding: 1% 5%;
            position: absolute;
            top: 50%;
            right: 7%;
            border: 1px solid $cBlack;
            transform: translateY(10px);
            opacity: 0;
            transition: all .5s 1s linear;
        }

        &__image {
            flex: 1;
            height: 300px;
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            transition: all 1s $ease;

            @include mq(lg) {
                width: 50vw;
                max-width: 700px;
                height: 450px;
            }
        }
    }

    &__description {
        @extend .mb-md;
        max-width: 450px;

        &__author {
            @extend .mb-sm;

            & span {
                display: block;
                font-family: $fNoto;
                font-weight: normal;
            }

            & p {
                font-family: $fNotoJP;
                font-weight: bold;
            }
        }

        &__p {
            font-family: $fNotoJP;
        }
    }

    &__image {
        width: 40vw;

        @include mq(md) {
            width: 35vw;
            max-width: 300px;
        }

    }

    &:nth-of-type(odd) {

        & .contents__header {
            flex-direction: row-reverse;
            width: 100%;
            gap: 3%;

            &__bar {
                width: 100%;
                text-align: end;
            }

            &__jaName {
                right: auto;
                left: 0;
            }
        }

        & .contents__image {
            margin-left: calc(100% - 50vw);

            @include mq(xl) {
                margin-left: auto;
                margin-right: calc(50% - 20vw);
            }

            &__img {}

        }
    }

}